<div class="form-group">
<span class="contact-email">E-Mail: {{email}}</span>
<span class="contact-phone">Phone Number: {{phone}}</span>
<span class="contact-twitter">Twitter: {{twitter}}</span>
<span class="contact-linkedin">LinkedIn: {{linkedin}}</span>
<p class="contact-info">Other Information: {{info}}</p>
</div>
